{% extends "layout.html" %}
{% block title %} Python Flask Model Upload Example {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<!-- <h1>Nematode Classification Using Machine Learning</h1> -->
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
<form method="post" action="/inference" enctype="multipart/form-data">
    <input type="text" name="file_name" hidden value="{{ filename }}">
    <label for="model">Choose model:</label>
    <select id="model" name="model">
        <!-- <option value="coatnet">CoAtNet0 [Mix/SGD/Normal]</option>
        <option value="efficientnet">EfficientNetV2M [Mix/Adam/BrightnessBlur]</option>
        <option value="resnet">ResNet101v2 [Mix/Adam/Normal]</option> -->
        <!-- <option value="coatnet_local">CoAtNet0 [Local/SGD/Normal]</option> -->
        <option value="efficientnet_local">EfficientNetV2M [Local/RMSprop/Brightness]</option>
        <!-- <option value="resnet_local">ResNet101v2 [Local/SGD/Normal]</option> -->
      </select>
    <input type="submit" value="Inference">
</form>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<img src="{{ url_for('display_image', filename=filename) }}" 
				class="img-fluid img-thumbnail"
			>
		</div>
		<div class="col-md-6"></div>
	</div>
</div>
{% endif %}

{% if not filename %}
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endif %}

{% endblock %}
